.app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--th-background);
    color: var(--th-on-surface);
}

.content {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}